html {
    background: url(images/blueprint.jpg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: black;
    text-align: center;
    letter-spacing: 4px;
    font-size: 55px;
    font-family: "Courier New";
    text-shadow: 1px 1px black;
    font-variant: small-caps;
}

div {
    border-radius: 45px;
    width: 1000px;
    text-align: center;
    height: 800px;
    margin: 20px auto;
    padding: 40px 75px;
    background-color: whitesmoke;
    opacity: 0.9;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: Verdana;
}

span {
    font-family: Verdana;
    font-size: 14px;
}

.red {
    color: #FF0000;
    text-decoration: none;
}

.orange {
    color: #FF6A00;
    text-decoration: none;
}

.green {
    color: #007F0E;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

hr {
    border-color: #FF0000;
    height: 1px;
    width: 880px;
    background: #FF0000;
}